include README.rst

include yoga/model/assimp.h
include yoga/model/assimp.cpp

include assimp/CREDITS
include assimp/LICENSE
include assimp/README.md
include assimp/CMakeLists.txt
include assimp/revision.h.in
include assimp/assimp.pc.in
include assimp/AssimpBuildTreeSettings.cmake.in
include assimp/assimp-config.cmake.in
include assimp/assimp-config-version.cmake.in
include assimp/AssimpConfigVersion.cmake.in
include assimp/AssimpConfig.cmake.in
include assimp/cmake-modules/FindPkgMacros.cmake
include assimp/cmake-modules/PrecompiledHeader.cmake
include assimp/cmake-modules/FindDevIL.cmake
include assimp/cmake-modules/FindDirectX.cmake
include assimp/cmake-modules/FindRT.cmake
include assimp/cmake-modules/CoverallsGenerateGcov.cmake
include assimp/cmake-modules/FindIrrXML.cmake
include assimp/cmake-modules/CoverallsClear.cmake
include assimp/cmake-modules/MinGW_x86_64.cmake
include assimp/cmake-modules/DebSourcePPA.cmake
include assimp/cmake-modules/Findassimp.cmake
include assimp/cmake-modules/cmake_uninstall.cmake.in
include assimp/cmake-modules/FindZLIB.cmake
include assimp/cmake-modules/Coveralls.cmake
include assimp/code/ASELoader.cpp
include assimp/code/3DSLoader.h
include assimp/code/HMPFileData.h
include assimp/code/STLExporter.cpp
include assimp/code/PolyTools.h
include assimp/code/XGLLoader.h
include assimp/code/LWOBLoader.cpp
include assimp/code/BlenderTessellator.cpp
include assimp/code/LWOMaterial.cpp
include assimp/code/X3DImporter_Light.cpp
include assimp/code/MDLLoader.cpp
include assimp/code/OgreBinarySerializer.cpp
include assimp/code/MD2FileData.h
include assimp/code/glTF2Asset.inl
include assimp/code/COBLoader.cpp
include assimp/code/OgreMaterial.cpp
include assimp/code/MMDPmxParser.h
include assimp/code/FBXModel.cpp
include assimp/code/EmbedTexturesProcess.h
include assimp/code/RemoveRedundantMaterials.h
include assimp/code/AssbinExporter.h
include assimp/code/MMDVmdParser.h
include assimp/code/BlenderBMesh.cpp
include assimp/code/Q3BSPFileImporter.cpp
include assimp/code/X3DImporter_Postprocess.cpp
include assimp/code/AMFImporter_Macro.hpp
include assimp/code/MD5Loader.h
include assimp/code/BlenderModifier.h
include assimp/code/ComputeUVMappingProcess.cpp
include assimp/code/OgreParsingUtils.h
include assimp/code/RemoveRedundantMaterials.cpp
include assimp/code/VertexTriangleAdjacency.h
include assimp/code/X3DImporter_Metadata.cpp
include assimp/code/HMPLoader.cpp
include assimp/code/GenVertexNormalsProcess.cpp
include assimp/code/ColladaExporter.cpp
include assimp/code/PlyExporter.h
include assimp/code/CInterfaceIOWrapper.cpp
include assimp/code/OpenGEXImporter.h
include assimp/code/SIBImporter.h
include assimp/code/MaterialSystem.h
include assimp/code/FindInstancesProcess.cpp
include assimp/code/VertexTriangleAdjacency.cpp
include assimp/code/MakeVerboseFormat.h
include assimp/code/OpenGEXExporter.cpp
include assimp/code/OpenGEXStructs.h
include assimp/code/ScaleProcess.h
include assimp/code/SplitLargeMeshes.h
include assimp/code/res/resource.h
include assimp/code/res/assimp.rc
include assimp/code/RawLoader.cpp
include assimp/code/D3MFOpcPackage.h
include assimp/code/AMFImporter_Geometry.cpp
include assimp/code/PlyParser.cpp
include assimp/code/D3MFExporter.h
include assimp/code/X3DImporter_Shape.cpp
include assimp/code/FBXConverter.cpp
include assimp/code/DefaultProgressHandler.h
include assimp/code/MS3DLoader.h
include assimp/code/Win32DebugLogStream.h
include assimp/code/Assimp.cpp
include assimp/code/MDLMaterialLoader.cpp
include assimp/code/3MFXmlTags.h
include assimp/code/FBXTokenizer.h
include assimp/code/glTFImporter.cpp
include assimp/code/SortByPTypeProcess.cpp
include assimp/code/MDLDefaultColorMap.h
include assimp/code/C4DImporter.cpp
include assimp/code/CInterfaceIOWrapper.h
include assimp/code/DXFHelper.h
include assimp/code/FBXMaterial.cpp
include assimp/code/PlyExporter.cpp
include assimp/code/LWSLoader.h
include assimp/code/FBXDocument.cpp
include assimp/code/glTFImporter.h
include assimp/code/AMFImporter_Material.cpp
include assimp/code/OgreXmlSerializer.h
include assimp/code/IRRMeshLoader.cpp
include assimp/code/LWOAnimation.cpp
include assimp/code/STLExporter.h
include assimp/code/makefile.mingw
include assimp/code/MMDPmdParser.h
include assimp/code/DeboneProcess.h
include assimp/code/TargetAnimation.cpp
include assimp/code/MD3Loader.h
include assimp/code/Q3BSPZipArchive.h
include assimp/code/ObjExporter.cpp
include assimp/code/ColladaParser.h
include assimp/code/ObjFileParser.cpp
include assimp/code/glTFExporter.cpp
include assimp/code/MaterialSystem.cpp
include assimp/code/ObjFileMtlImporter.cpp
include assimp/code/FBXAnimation.cpp
include assimp/code/ASEParser.h
include assimp/code/glTF2Exporter.h
include assimp/code/RemoveVCProcess.cpp
include assimp/code/ScenePrivate.h
include assimp/code/ImproveCacheLocality.h
include assimp/code/TerragenLoader.cpp
include assimp/code/Bitmap.cpp
include assimp/code/STEPFile.h
include assimp/code/MMDPmxParser.cpp
include assimp/code/Q3BSPFileParser.h
include assimp/code/ACLoader.cpp
include assimp/code/SplitLargeMeshes.cpp
include assimp/code/SGSpatialSort.h
include assimp/code/FBXUtil.cpp
include assimp/code/Version.cpp
include assimp/code/HalfLifeFileData.h
include assimp/code/BaseProcess.h
include assimp/code/IRRLoader.h
include assimp/code/FBXMeshGeometry.h
include assimp/code/FindDegenerates.cpp
include assimp/code/glTFExporter.h
include assimp/code/MDLLoader.h
include assimp/code/PostStepRegistry.cpp
include assimp/code/FBXProperties.cpp
include assimp/code/SkeletonMeshBuilder.cpp
include assimp/code/HMPLoader.h
include assimp/code/TextureTransform.h
include assimp/code/BVHLoader.h
include assimp/code/X3DImporter_Geometry2D.cpp
include assimp/code/OgreStructs.cpp
include assimp/code/MDCNormalTable.h
include assimp/code/MD5Parser.h
include assimp/code/DefaultIOStream.cpp
include assimp/code/CSMLoader.h
include assimp/code/RemoveVCProcess.h
include assimp/code/TerragenLoader.h
include assimp/code/IRRShared.h
include assimp/code/BaseProcess.cpp
include assimp/code/FBXImporter.h
include assimp/code/AssxmlExporter.cpp
include assimp/code/3DSExporter.cpp
include assimp/code/ImporterRegistry.cpp
include assimp/code/FBXCompileConfig.h
include assimp/code/OgreImporter.cpp
include assimp/code/LimitBoneWeightsProcess.cpp
include assimp/code/XFileHelper.h
include assimp/code/IRRLoader.cpp
include assimp/code/FBXParser.h
include assimp/code/NFFLoader.h
include assimp/code/3DSLoader.cpp
include assimp/code/FBXDocumentUtil.cpp
include assimp/code/assbin_chunks.h
include assimp/code/BlenderTessellator.h
include assimp/code/glTF2Asset.h
include assimp/code/MD2Loader.h
include assimp/code/ProcessHelper.cpp
include assimp/code/ACLoader.h
include assimp/code/ColladaLoader.cpp
include assimp/code/GenFaceNormalsProcess.cpp
include assimp/code/GenVertexNormalsProcess.h
include assimp/code/OpenGEXExporter.h
include assimp/code/LWOLoader.h
include assimp/code/SIBImporter.cpp
include assimp/code/FBXMeshGeometry.cpp
include assimp/code/FindInstancesProcess.h
include assimp/code/COBScene.h
include assimp/code/MDLFileData.h
include assimp/code/glTFAsset.inl
include assimp/code/ComputeUVMappingProcess.h
include assimp/code/MD4FileData.h
include assimp/code/StdOStreamLogStream.h
include assimp/code/BlenderLoader.h
include assimp/code/AMFImporter.cpp
include assimp/code/OFFLoader.cpp
include assimp/code/Q3DLoader.h
include assimp/code/ObjFileImporter.h
include assimp/code/FBXProperties.h
include assimp/code/MD3Loader.cpp
include assimp/code/StepExporter.cpp
include assimp/code/ValidateDataStructure.cpp
include assimp/code/NDOLoader.h
include assimp/code/OptimizeGraph.h
include assimp/code/UnrealLoader.h
include assimp/code/FileSystemFilter.h
include assimp/code/DeboneProcess.cpp
include assimp/code/NDOLoader.cpp
include assimp/code/RemoveComments.cpp
include assimp/code/3DSConverter.cpp
include assimp/code/STLLoader.h
include assimp/code/SplitByBoneCountProcess.h
include assimp/code/glTF2Importer.h
include assimp/code/3DSHelper.h
include assimp/code/BlenderBMesh.h
include assimp/code/FBXTokenizer.cpp
include assimp/code/Subdivision.cpp
include assimp/code/AssbinLoader.h
include assimp/code/AMFImporter_Node.hpp
include assimp/code/ScenePreprocessor.h
include assimp/code/BlenderSceneGen.h
include assimp/code/SceneCombiner.cpp
include assimp/code/StandardShapes.cpp
include assimp/code/LWSLoader.cpp
include assimp/code/glTF2Importer.cpp
include assimp/code/FindDegenerates.h
include assimp/code/FBXUtil.h
include assimp/code/ASEParser.cpp
include assimp/code/Exporter.cpp
include assimp/code/DXFLoader.h
include assimp/code/ObjFileImporter.cpp
include assimp/code/TriangulateProcess.cpp
include assimp/code/C4DImporter.h
include assimp/code/IRRShared.cpp
include assimp/code/ColladaExporter.h
include assimp/code/NFFLoader.cpp
include assimp/code/MD5Parser.cpp
include assimp/code/DefaultIOSystem.cpp
include assimp/code/X3DImporter_Group.cpp
include assimp/code/D3MFImporter.h
include assimp/code/FindInvalidDataProcess.h
include assimp/code/SGSpatialSort.cpp
include assimp/code/AMFImporter.hpp
include assimp/code/FBXImportSettings.h
include assimp/code/MD2Loader.cpp
include assimp/code/FixNormalsStep.h
include assimp/code/GenFaceNormalsProcess.h
include assimp/code/UnrealLoader.cpp
include assimp/code/PretransformVertices.cpp
include assimp/code/Q3DLoader.cpp
include assimp/code/OFFLoader.h
include assimp/code/scene.cpp
include assimp/code/EmbedTexturesProcess.cpp
include assimp/code/Q3BSPZipArchive.cpp
include assimp/code/ConvertToLHProcess.h
include assimp/code/LWOLoader.cpp
include assimp/code/glTF2Exporter.cpp
include assimp/code/PlyLoader.cpp
include assimp/code/OgreImporter.h
include assimp/code/TargetAnimation.h
include assimp/code/COBLoader.h
include assimp/code/Importer.cpp
include assimp/code/ColladaParser.cpp
include assimp/code/CSMLoader.cpp
include assimp/code/AssimpCExport.cpp
include assimp/code/BlenderScene.h
include assimp/code/ConvertToLHProcess.cpp
include assimp/code/CalcTangentsProcess.h
include assimp/code/ImproveCacheLocality.cpp
include assimp/code/PlyLoader.h
include assimp/code/XFileImporter.cpp
include assimp/code/MD2NormalTable.h
include assimp/code/BlenderDNA.h
include assimp/code/X3DImporter_Texturing.cpp
include assimp/code/X3DExporter.hpp
include assimp/code/SpatialSort.cpp
include assimp/code/glTF2AssetWriter.inl
include assimp/code/D3MFExporter.cpp
include assimp/code/FBXParser.cpp
include assimp/code/SortByPTypeProcess.h
include assimp/code/XFileExporter.cpp
include assimp/code/ObjExporter.h
include assimp/code/X3DImporter_Geometry3D.cpp
include assimp/code/MMDImporter.cpp
include assimp/code/FBXDeformer.cpp
include assimp/code/ObjFileMtlImporter.h
include assimp/code/SMDLoader.cpp
include assimp/code/JoinVerticesProcess.h
include assimp/code/ScaleProcess.cpp
include assimp/code/B3DImporter.h
include assimp/code/TextureTransform.cpp
include assimp/code/X3DImporter.hpp
include assimp/code/FBXDocumentUtil.h
include assimp/code/ColladaLoader.h
include assimp/code/MD3FileData.h
include assimp/code/MS3DLoader.cpp
include assimp/code/BlenderDNA.cpp
include assimp/code/ScenePreprocessor.cpp
include assimp/code/AssxmlExporter.h
include assimp/code/PretransformVertices.h
include assimp/code/glTF2AssetWriter.h
include assimp/code/ProcessHelper.h
include assimp/code/BlenderIntermediate.h
include assimp/code/D3MFOpcPackage.cpp
include assimp/code/IRRMeshLoader.h
include assimp/code/PlyParser.h
include assimp/code/LimitBoneWeightsProcess.h
include assimp/code/FBXConverter.h
include assimp/code/XFileImporter.h
include assimp/code/AMFImporter_Postprocess.cpp
include assimp/code/DefaultLogger.cpp
include assimp/code/OptimizeMeshes.h
include assimp/code/IFF.h
include assimp/code/ValidateDataStructure.h
include assimp/code/OpenGEXImporter.cpp
include assimp/code/TriangulateProcess.h
include assimp/code/3DSExporter.h
include assimp/code/StepExporter.h
include assimp/code/Q3BSPFileImporter.h
include assimp/code/SMDLoader.h
include assimp/code/STLLoader.cpp
include assimp/code/FixNormalsStep.cpp
include assimp/code/RawLoader.h
include assimp/code/MMDCpp14.h
include assimp/code/ObjFileParser.h
include assimp/code/BlenderModifier.cpp
include assimp/code/LWOFileData.h
include assimp/code/MMDImporter.h
include assimp/code/ASELoader.h
include assimp/code/X3DImporter_Macro.hpp
include assimp/code/ObjFileData.h
include assimp/code/Q3BSPFileParser.cpp
include assimp/code/Q3BSPFileData.h
include assimp/code/FBXNodeAttribute.cpp
include assimp/code/glTFAsset.h
include assimp/code/Importer/IFC/STEPFileEncoding.h
include assimp/code/Importer/IFC/IFCBoolean.cpp
include assimp/code/Importer/IFC/IFCUtil.h
include assimp/code/Importer/IFC/IFCOpenings.cpp
include assimp/code/Importer/IFC/IFCGeometry.cpp
include assimp/code/Importer/IFC/IFCCurve.cpp
include assimp/code/Importer/IFC/IFCMaterial.cpp
include assimp/code/Importer/IFC/IFCReaderGen2_2x3.cpp
include assimp/code/Importer/IFC/IFCUtil.cpp
include assimp/code/Importer/IFC/STEPFileReader.h
include assimp/code/Importer/IFC/IFCReaderGen_4.h
include assimp/code/Importer/IFC/STEPFileEncoding.cpp
include assimp/code/Importer/IFC/IFCLoader.cpp
include assimp/code/Importer/IFC/IFCReaderGen_2x3.h
include assimp/code/Importer/IFC/IFCReaderGen1_2x3.cpp
include assimp/code/Importer/IFC/STEPFileReader.cpp
include assimp/code/Importer/IFC/IFCLoader.h
include assimp/code/Importer/IFC/IFCProfile.cpp
include assimp/code/Importer/IFC/IFCReaderGen_4.cpp
include assimp/code/X3DExporter.cpp
include assimp/code/X3DVocabulary.cpp
include assimp/code/D3MFImporter.cpp
include assimp/code/OgreXmlSerializer.cpp
include assimp/code/FileLogStream.h
include assimp/code/AssbinLoader.cpp
include assimp/code/X3DImporter_Rendering.cpp
include assimp/code/MD5Loader.cpp
include assimp/code/BaseImporter.cpp
include assimp/code/AssbinExporter.cpp
include assimp/code/XFileParser.h
include assimp/code/X3DImporter.cpp
include assimp/code/FIReader.hpp
include assimp/code/FIReader.cpp
include assimp/code/LWOAnimation.h
include assimp/code/MDCFileData.h
include assimp/code/CreateAnimMesh.cpp
include assimp/code/FBXImporter.cpp
include assimp/code/ObjTools.h
include assimp/code/XGLLoader.cpp
include assimp/code/FBXDocument.h
include assimp/code/DXFLoader.cpp
include assimp/code/CalcTangentsProcess.cpp
include assimp/code/MDCLoader.h
include assimp/code/X3DImporter_Networking.cpp
include assimp/code/BlenderDNA.inl
include assimp/code/.editorconfig
include assimp/code/glTFAssetWriter.inl
include assimp/code/B3DImporter.cpp
include assimp/code/SplitByBoneCountProcess.cpp
include assimp/code/OptimizeGraph.cpp
include assimp/code/BlenderScene.cpp
include assimp/code/BVHLoader.cpp
include assimp/code/XFileParser.cpp
include assimp/code/OgreBinarySerializer.h
include assimp/code/X3DImporter_Node.hpp
include assimp/code/MakeVerboseFormat.cpp
include assimp/code/OptimizeMeshes.cpp
include assimp/code/MDCLoader.cpp
include assimp/code/JoinVerticesProcess.cpp
include assimp/code/ColladaHelper.h
include assimp/code/XFileExporter.h
include assimp/code/FBXBinaryTokenizer.cpp
include assimp/code/OgreStructs.h
include assimp/code/Importer.h
include assimp/code/glTFAssetWriter.h
include assimp/code/FindInvalidDataProcess.cpp
include assimp/code/CMakeLists.txt
include assimp/code/BlenderLoader.cpp
include assimp/contrib/Open3DGC/o3dgcTriangleListEncoder.inl
include assimp/contrib/Open3DGC/o3dgcSC3DMCDecoder.inl
include assimp/contrib/Open3DGC/o3dgcTimer.h
include assimp/contrib/Open3DGC/o3dgcBinaryStream.h
include assimp/contrib/Open3DGC/o3dgcDynamicVector.h
include assimp/contrib/Open3DGC/o3dgcArithmeticCodec.cpp
include assimp/contrib/Open3DGC/o3dgcIndexedFaceSet.h
include assimp/contrib/Open3DGC/o3dgcVector.inl
include assimp/contrib/Open3DGC/o3dgcIndexedFaceSet.inl
include assimp/contrib/Open3DGC/o3dgcTriangleListDecoder.inl
include assimp/contrib/Open3DGC/o3dgcFIFO.h
include assimp/contrib/Open3DGC/o3dgcSC3DMCDecoder.h
include assimp/contrib/Open3DGC/o3dgcDynamicVectorDecoder.h
include assimp/contrib/Open3DGC/o3dgcTriangleListEncoder.h
include assimp/contrib/Open3DGC/o3dgcSC3DMCEncoder.inl
include assimp/contrib/Open3DGC/o3dgcTriangleFans.cpp
include assimp/contrib/Open3DGC/o3dgcDynamicVectorDecoder.cpp
include assimp/contrib/Open3DGC/o3dgcDVEncodeParams.h
include assimp/contrib/Open3DGC/o3dgcArithmeticCodec.h
include assimp/contrib/Open3DGC/o3dgcAdjacencyInfo.h
include assimp/contrib/Open3DGC/o3dgcVector.h
include assimp/contrib/Open3DGC/o3dgcTriangleListDecoder.h
include assimp/contrib/Open3DGC/o3dgcSC3DMCEncodeParams.h
include assimp/contrib/Open3DGC/o3dgcSC3DMCEncoder.h
include assimp/contrib/Open3DGC/o3dgcTools.cpp
include assimp/contrib/Open3DGC/o3dgcDynamicVectorEncoder.h
include assimp/contrib/Open3DGC/o3dgcDynamicVectorEncoder.cpp
include assimp/contrib/Open3DGC/o3dgcCommon.h
include assimp/contrib/Open3DGC/o3dgcTriangleFans.h
include assimp/contrib/android-cmake/AndroidNdkModules.cmake
include assimp/contrib/android-cmake/android.toolchain.cmake
include assimp/contrib/android-cmake/README.md
include assimp/contrib/android-cmake/AndroidNdkGdb.cmake
include assimp/contrib/android-cmake/ndk_links.md
include assimp/contrib/unzip/ioapi.c
include assimp/contrib/unzip/unzip.c
include assimp/contrib/unzip/ioapi.h
include assimp/contrib/unzip/unzip.h
include assimp/contrib/unzip/crypt.h
include assimp/contrib/utf8cpp/source/utf8/unchecked.h
include assimp/contrib/utf8cpp/source/utf8/checked.h
include assimp/contrib/utf8cpp/source/utf8/core.h
include assimp/contrib/utf8cpp/source/utf8.h
include assimp/contrib/utf8cpp/doc/ReleaseNotes
include assimp/contrib/utf8cpp/doc/utf8cpp.html
include assimp/contrib/irrXML_note.txt
include assimp/contrib/rapidjson/include/rapidjson/encodings.h
include assimp/contrib/rapidjson/include/rapidjson/schema.h
include assimp/contrib/rapidjson/include/rapidjson/msinttypes/stdint.h
include assimp/contrib/rapidjson/include/rapidjson/msinttypes/inttypes.h
include assimp/contrib/rapidjson/include/rapidjson/document.h
include assimp/contrib/rapidjson/include/rapidjson/encodedstream.h
include assimp/contrib/rapidjson/include/rapidjson/memorybuffer.h
include assimp/contrib/rapidjson/include/rapidjson/filewritestream.h
include assimp/contrib/rapidjson/include/rapidjson/pointer.h
include assimp/contrib/rapidjson/include/rapidjson/ostreamwrapper.h
include assimp/contrib/rapidjson/include/rapidjson/istreamwrapper.h
include assimp/contrib/rapidjson/include/rapidjson/internal/biginteger.h
include assimp/contrib/rapidjson/include/rapidjson/internal/dtoa.h
include assimp/contrib/rapidjson/include/rapidjson/internal/itoa.h
include assimp/contrib/rapidjson/include/rapidjson/internal/regex.h
include assimp/contrib/rapidjson/include/rapidjson/internal/stack.h
include assimp/contrib/rapidjson/include/rapidjson/internal/strtod.h
include assimp/contrib/rapidjson/include/rapidjson/internal/meta.h
include assimp/contrib/rapidjson/include/rapidjson/internal/pow10.h
include assimp/contrib/rapidjson/include/rapidjson/internal/diyfp.h
include assimp/contrib/rapidjson/include/rapidjson/internal/ieee754.h
include assimp/contrib/rapidjson/include/rapidjson/internal/strfunc.h
include assimp/contrib/rapidjson/include/rapidjson/internal/swap.h
include assimp/contrib/rapidjson/include/rapidjson/filereadstream.h
include assimp/contrib/rapidjson/include/rapidjson/allocators.h
include assimp/contrib/rapidjson/include/rapidjson/memorystream.h
include assimp/contrib/rapidjson/include/rapidjson/stream.h
include assimp/contrib/rapidjson/include/rapidjson/writer.h
include assimp/contrib/rapidjson/include/rapidjson/fwd.h
include assimp/contrib/rapidjson/include/rapidjson/error/en.h
include assimp/contrib/rapidjson/include/rapidjson/error/error.h
include assimp/contrib/rapidjson/include/rapidjson/rapidjson.h
include assimp/contrib/rapidjson/include/rapidjson/stringbuffer.h
include assimp/contrib/rapidjson/include/rapidjson/prettywriter.h
include assimp/contrib/rapidjson/include/rapidjson/reader.h
include assimp/contrib/rapidjson/readme.md
include assimp/contrib/rapidjson/license.txt
include assimp/contrib/zip/src/miniz.h
include assimp/contrib/zip/src/zip.c
include assimp/contrib/zip/src/zip.h
include assimp/contrib/zip/.travis.yml
include assimp/contrib/zip/appveyor.yml
include assimp/contrib/zip/README.md
include assimp/contrib/zip/zip.png
include assimp/contrib/zip/test/test.c
include assimp/contrib/zip/test/CMakeLists.txt
include assimp/contrib/zip/.gitignore
include assimp/contrib/zip/UNLICENSE
include assimp/contrib/zip/CMakeLists.txt
include assimp/contrib/zlib_note.txt
include assimp/contrib/poly2tri/LICENSE
include assimp/contrib/poly2tri/poly2tri/common/utils.h
include assimp/contrib/poly2tri/poly2tri/common/shapes.cc
include assimp/contrib/poly2tri/poly2tri/common/shapes.h
include assimp/contrib/poly2tri/poly2tri/sweep/advancing_front.h
include assimp/contrib/poly2tri/poly2tri/sweep/cdt.cc
include assimp/contrib/poly2tri/poly2tri/sweep/advancing_front.cc
include assimp/contrib/poly2tri/poly2tri/sweep/sweep_context.cc
include assimp/contrib/poly2tri/poly2tri/sweep/cdt.h
include assimp/contrib/poly2tri/poly2tri/sweep/sweep_context.h
include assimp/contrib/poly2tri/poly2tri/sweep/sweep.h
include assimp/contrib/poly2tri/poly2tri/sweep/sweep.cc
include assimp/contrib/poly2tri/poly2tri/poly2tri.h
include assimp/contrib/poly2tri/AUTHORS
include assimp/contrib/poly2tri/README
include assimp/contrib/zlib/inffixed.h
include assimp/contrib/zlib/deflate.h
include assimp/contrib/zlib/zlib.h
include assimp/contrib/zlib/trees.c
include assimp/contrib/zlib/zconf.h.in
include assimp/contrib/zlib/adler32.c
include assimp/contrib/zlib/inftrees.c
include assimp/contrib/zlib/zutil.c
include assimp/contrib/zlib/inffast.c
include assimp/contrib/zlib/inffast.h
include assimp/contrib/zlib/zlib.pc.cmakein
include assimp/contrib/zlib/infback.c
include assimp/contrib/zlib/gzwrite.c
include assimp/contrib/zlib/gzclose.c
include assimp/contrib/zlib/crc32.c
include assimp/contrib/zlib/zutil.h
include assimp/contrib/zlib/crc32.h
include assimp/contrib/zlib/inftrees.h
include assimp/contrib/zlib/gzguts.h
include assimp/contrib/zlib/zconf.h.included
include assimp/contrib/zlib/zconf.h.cmakein
include assimp/contrib/zlib/gzread.c
include assimp/contrib/zlib/inflate.c
include assimp/contrib/zlib/compress.c
include assimp/contrib/zlib/gzlib.c
include assimp/contrib/zlib/deflate.c
include assimp/contrib/zlib/README
include assimp/contrib/zlib/inflate.h
include assimp/contrib/zlib/trees.h
include assimp/contrib/zlib/win32/Makefile.msc
include assimp/contrib/zlib/win32/Makefile.bor
include assimp/contrib/zlib/win32/VisualC.txt
include assimp/contrib/zlib/win32/README-WIN32.txt
include assimp/contrib/zlib/win32/Makefile.gcc
include assimp/contrib/zlib/win32/zlib1.rc
include assimp/contrib/zlib/win32/DLL_FAQ.txt
include assimp/contrib/zlib/win32/zlib.def
include assimp/contrib/zlib/uncompr.c
include assimp/contrib/zlib/CMakeLists.txt
include assimp/contrib/openddlparser/include/openddlparser/OpenDDLExport.h
include assimp/contrib/openddlparser/include/openddlparser/DDLNode.h
include assimp/contrib/openddlparser/include/openddlparser/OpenDDLStream.h
include assimp/contrib/openddlparser/include/openddlparser/OpenDDLCommon.h
include assimp/contrib/openddlparser/include/openddlparser/OpenDDLParserUtils.h
include assimp/contrib/openddlparser/include/openddlparser/OpenDDLParser.h
include assimp/contrib/openddlparser/include/openddlparser/Value.h
include assimp/contrib/openddlparser/LICENSE
include assimp/contrib/openddlparser/README.md
include assimp/contrib/openddlparser/CREDITS
include assimp/contrib/openddlparser/code/DDLNode.cpp
include assimp/contrib/openddlparser/code/Value.cpp
include assimp/contrib/openddlparser/code/OpenDDLStream.cpp
include assimp/contrib/openddlparser/code/OpenDDLParser.cpp
include assimp/contrib/openddlparser/code/OpenDDLCommon.cpp
include assimp/contrib/openddlparser/code/OpenDDLExport.cpp
include assimp/contrib/openddlparser/CMakeLists.txt
include assimp/contrib/clipper/clipper.cpp
include assimp/contrib/clipper/License.txt
include assimp/contrib/clipper/clipper.hpp
include assimp/contrib/poly2tri_patch.txt
include assimp/contrib/irrXML/irrArray.h
include assimp/contrib/irrXML/irrXML.cpp
include assimp/contrib/irrXML/irrString.h
include assimp/contrib/irrXML/CXMLReaderImpl.h
include assimp/contrib/irrXML/irrXML.h
include assimp/contrib/irrXML/heapsort.h
include assimp/contrib/irrXML/irrTypes.h
include assimp/contrib/irrXML/CMakeLists.txt
include assimp/contrib/CMakeLists.txt
include assimp/include/assimp/LogAux.h
include assimp/include/assimp/StringUtils.h
include assimp/include/assimp/MemoryIOWrapper.h
include assimp/include/assimp/DefaultLogger.hpp
include assimp/include/assimp/SceneCombiner.h
include assimp/include/assimp/NullLogger.hpp
include assimp/include/assimp/ByteSwapper.h
include assimp/include/assimp/matrix4x4.inl
include assimp/include/assimp/light.h
include assimp/include/assimp/SpatialSort.h
include assimp/include/assimp/Macros.h
include assimp/include/assimp/Exceptional.h
include assimp/include/assimp/texture.h
include assimp/include/assimp/DefaultIOSystem.h
include assimp/include/assimp/IOSystem.hpp
include assimp/include/assimp/DefaultIOStream.h
include assimp/include/assimp/vector2.inl
include assimp/include/assimp/IOStreamBuffer.h
include assimp/include/assimp/quaternion.h
include assimp/include/assimp/vector3.h
include assimp/include/assimp/Hash.h
include assimp/include/assimp/ParsingUtils.h
include assimp/include/assimp/Defines.h
include assimp/include/assimp/importerdesc.h
include assimp/include/assimp/version.h
include assimp/include/assimp/SGSpatialSort.h
include assimp/include/assimp/SmoothingGroups.inl
include assimp/include/assimp/XMLTools.h
include assimp/include/assimp/ai_assert.h
include assimp/include/assimp/LogStream.hpp
include assimp/include/assimp/qnan.h
include assimp/include/assimp/color4.h
include assimp/include/assimp/anim.h
include assimp/include/assimp/matrix3x3.inl
include assimp/include/assimp/cfileio.h
include assimp/include/assimp/BlobIOSystem.h
include assimp/include/assimp/postprocess.h
include assimp/include/assimp/Importer.hpp
include assimp/include/assimp/defs.h
include assimp/include/assimp/SmoothingGroups.h
include assimp/include/assimp/Vertex.h
include assimp/include/assimp/LineSplitter.h
include assimp/include/assimp/irrXMLWrapper.h
include assimp/include/assimp/Compiler/pstdint.h
include assimp/include/assimp/Compiler/poppack1.h
include assimp/include/assimp/Compiler/pushpack1.h
include assimp/include/assimp/color4.inl
include assimp/include/assimp/vector3.inl
include assimp/include/assimp/matrix3x3.h
include assimp/include/assimp/metadata.h
include assimp/include/assimp/cexport.h
include assimp/include/assimp/SkeletonMeshBuilder.h
include assimp/include/assimp/cimport.h
include assimp/include/assimp/Profiler.h
include assimp/include/assimp/CreateAnimMesh.h
include assimp/include/assimp/matrix4x4.h
include assimp/include/assimp/Bitmap.h
include assimp/include/assimp/BaseImporter.h
include assimp/include/assimp/TinyFormatter.h
include assimp/include/assimp/port/AndroidJNI/AndroidJNIIOSystem.h
include assimp/include/assimp/Subdivision.h
include assimp/include/assimp/fast_atof.h
include assimp/include/assimp/mesh.h
include assimp/include/assimp/Logger.hpp
include assimp/include/assimp/StringComparison.h
include assimp/include/assimp/Exporter.hpp
include assimp/include/assimp/config.h.in
include assimp/include/assimp/types.h
include assimp/include/assimp/MathFunctions.h
include assimp/include/assimp/camera.h
include assimp/include/assimp/material.inl
include assimp/include/assimp/scene.h
include assimp/include/assimp/GenericProperty.h
include assimp/include/assimp/StreamReader.h
include assimp/include/assimp/RemoveComments.h
include assimp/include/assimp/vector2.h
include assimp/include/assimp/quaternion.inl
include assimp/include/assimp/ProgressHandler.hpp
include assimp/include/assimp/.editorconfig
include assimp/include/assimp/StreamWriter.h
include assimp/include/assimp/IOStream.hpp
include assimp/include/assimp/StandardShapes.h
include assimp/include/assimp/material.h

recursive-exclude test *
