name: "Python Lint and Tests"

on: [push, pull_request]

jobs:

  build-and-test:

    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    name: "Build and test YOGA"
    runs-on: ubuntu-latest

    steps:

      - name: "Checkout the repository"
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: "Set up Python ${{ matrix.python-version }}"
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: "Install Python dependencies"
        run: |
          pip install setuptools nox

      - name: "Lint with flake8, Black and codespell"
        run: |
          python3 -m nox --session lint

      - name: "Test with pytest"
        run: |
          python3 -m nox --session test-${{ matrix.python-version }}
