name: "Standalone Builds"

on:
  push:
    tags:
      - "v[0-9]+\\.[0-9]+\\.[0-9]+"
      - "v[0-9]+\\.[0-9]+\\.[0-9]+-[0-9]+"
    branches:
      - master
  pull_request: {}

jobs:

  windows:
    name: "Build Windows standalone version"
    runs-on: windows-2022

    steps:
      - name: "Checkout the repository"
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: "Build YOGA Windows standelone version"
        run: |
          winbuild\builddist.bat

      - name: "Check the standalone build is working"
        shell: pwsh
        run: |
          .\yogawin.dist\yoga.exe image test\images\image1.jpg OUT.opti.jpg
          Test-Path -PathType Leaf OUT.opti.jpg

      - name: "Archive Windows Build"
        uses: actions/upload-artifact@v5
        with:
          name: yoga-vX.X.X_win_standalone_x86-64
          path: yogawin.dist

  linux:
    name: "Build Linux standalone version"
    runs-on: ubuntu-24.04

    steps:
      - name: "Checkout the repository"
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: "Install setuptools"
        run: |
          pip install setuptools

      - name: "Build YOGA Linux standelone version"
        run: |
          linux-bin/build.sh

      - name: "Check the standalone build is working"
        run: |
          ./yoga-bin.dist/yoga.bin image test/images/image1.jpg OUT.opti.jpg
          test -f OUT.opti.jpg

      - name: "Make the release tarball"
        run: |
          mv yoga-bin.dist yoga-v$(python setup.py --version)_linux_standalone_x86-64
          tar -cvzf yoga-v$(python setup.py --version)_linux_standalone_x86-64.tar.gz yoga-v$(python setup.py --version)_linux_standalone_x86-64

      - name: "Upload Linux tarball"
        uses: actions/upload-artifact@v5
        with:
          name: yoga-vX.X.X_linux_standalone_x86-64
          path: "yoga-*.tar.gz"
